@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,600&display=swap');

 main{
    margin-top: 1rem;
    width: auto;
 }

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1 rem;
}

.team-member {
    max-width: 1000px;
    margin: 30px;
    background-color: white;
    color: #1f003b;
    transition: 0.3s;
    padding: 20px;
    border-radius:20px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.team-member img {
    width: 10em;
    height: 10em;
    padding: 0.5em;
    border-radius: 50%;
}

.team-member h3 {
    margin: 10px 0;
    font-size:large;
}

.team-member h4 {
    margin: 20px 0;
    font-size: medium;
}

.team-member p {
    margin: 0;
    font-size: medium;
}

.team-member a {
    text-decoration: none;
    color: inherit;
    font-size: 2em;
}

.icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content:space-evenly;
}

.team-member:hover{
    background: linear-gradient(#6045ea, #8567f7);
    box-shadow: none;
    color: #ffffff;
}
